* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

#map {
    height: 100%;
    width: 100%;
}

.locator {
    position: absolute;
    z-index: 100;
    top: 90px;
    left: 100px;
    display: flex;
}

.locator h1 {
    display: flex;
}

.locator h1 span {
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    background-color: #454545;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem;
    border-radius: 50%;
}


.locator h1 span:nth-child(1) {
    animation: drop-letters 5s 0.1s infinite;
}

.locator h1 span:nth-child(1) {
    animation: drop-letters 5s 0.1s infinite;
}

.locator h1 span:nth-child(2) {
    animation: drop-letters 5s 0.2s infinite;
}

.locator h1 span:nth-child(3) {
    animation: drop-letters 5s 0.3s infinite;
}

.locator h1 span:nth-child(4) {
    animation: drop-letters 5s 0.4s infinite;
}

.locator h1 span:nth-child(5) {
    animation: drop-letters 5s 0.5s infinite;
}

.locator h1 span:nth-child(6) {
    animation: drop-letters 5s 0.6s infinite;
}

.locator h1 span:nth-child(7) {
    animation: drop-letters 5s 0.7s infinite;
}

.locator h1 span:nth-child(8) {
    animation: drop-letters 5s 0.8s infinite;
}

.locator h1 span:nth-child(9) {
    animation: drop-letters 5s 0.9s infinite;
}

.locator h1 span:nth-child(10) {
    animation: drop-letters 5s 1s infinite;
}

.locator h1 span:nth-child(11) {
    animation: drop-letters 5s 1.1s infinite;
}

.locator h1 span:nth-child(12) {
    animation: drop-letters 5s 1.2s infinite;
}

.locator h1 span:nth-child(13) {
    animation: drop-letters 5s 1.3s infinite;
}


@keyframes drop-letters {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-100%);
    }

    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-container {
    position: absolute;
    z-index: 200;
    width: 350px;
    height: 50px;
    background-color: #454545;
    border-radius: 30px;
    top: 150px;
    left: 100px;
    display: flex;
}

.search {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


.search-container input {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: #FF7D97;
    padding-left: 1rem;
    padding-right: 1rem;

}

.search-container input:focus {
    outline: none;
}

i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

#zip-code-input {
    color: #FF7D97;
}

#zip-code-input label {
    color: #FF7D97;
}


.stores-list-container {
    width: 350px;
    bottom: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 333;
    border-radius: 30px;
    top: 225px;
    left: 100px;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}

.stores-list {
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 30px;

}


.stores-list::-webkit-scrollbar {
    width: 8px;
}

.stores-list::-webkit-scrollbar-thumb {
    background-color: #FF7D97;
    border-radius: 30px;
    height: 50px;
}


.store-container {
    display: flex;
    padding-top: 10px;
    width: 310px;
    border-bottom: 1px solid #FF7D97;
    cursor: pointer;
}


.store-container-background {
    width: 100%;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    margin-bottom: 8px;
    transition: all .3s ease-in-out;
}

.store-container-background:hover {
    background-color: rgba(255, 125, 151, .6)
}

.store-addres {
    margin-bottom: 15px;
    color: #454545;
    width: 200px;
}

.store-phone-number {
    font-size: .8rem;
    color: #a19f9f;
    padding-bottom: 20px;

}

.number {
    margin-left: 60px;
    margin-top: 30px;
    border: 1px solid #454545;
    border-radius: 100%;
    background-color: #454545;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-info-window {
    display: flex;
    flex-direction: column;
    min-width: 200px;

}

.store-info-name {
    padding: 5px;
    font-weight: 800;
    font-size: 15px;
    padding-top: 10px;
}

.store-info-status {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 13px;

    border-bottom: 1px solid #FF7D97;

}

.store-address-info {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 15px;
    width: 200px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    cursor: pointer;

}

.store-address-info a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.store-phone-number {
    padding-left: 5px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 0;

}

.image {
    width: 50px;
    height: 50px;
    align-self: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FF7D97;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}