* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

#map {
    height: 100%;
    width: 100%;
}

.locator {
    position: absolute;
    z-index: 100;
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
}

.search-container {
    position: absolute;
    z-index: 200;
    width: 350px;
    height: 50px;
    background-color: #454545;
    border-radius: 30px;
    top: 150px;
    left: 100px;
    display: flex;
}

.search {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


.search-container input {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;

}

.search-container input:focus {
    outline: none;
}

i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: #fff;
}




.stores-list-container {
    width: 350px;
    bottom: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 333;
    border-radius: 30px;
    top: 225px;
    left: 100px;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 30px;
    padding-top: 20px;
}

.stores-list {
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 30px;

}


.stores-list::-webkit-scrollbar {
    width: 8px;
}

.stores-list::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 30px;
    height: 50px;
}


.store-container {
    display: flex;
    padding-top: 20px;
    width: 310px;
    border-bottom: 1px solid #a19f9f;
}


.store-addres {
    margin-bottom: 15px;
    color: #454545;
    width: 200px;
}

.store-phone-number {
    font-size: .8rem;
    color: #a19f9f;
    padding-bottom: 20px;

}

.number {
    margin-left: 60px;
    margin-top: 30px;
    border: 1px solid #454545;
    border-radius: 100%;
    background-color: #454545;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-info-window {
    display: flex;
    flex-direction: column;
    min-width: 200px;

}

.store-info-name {
    padding: 5px;
    font-weight: 800;
    font-size: 15px;
    padding-top: 10px;
}

.store-info-status {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 13px;

    border-bottom: 1px solid #454545;

}

.store-address-info {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 15px;
    width: 180px;
    display: flex;
    flex-direction: row;

}

.store-phone-number {
    padding-left: 5px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 0;

}

.image {
    width: 50px;
    height: 50px;
    align-self: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #454545;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}